.boxed {
  margin: 0rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  font-size: 1.1rem;
  line-height: 1.6rem;   
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri;
}

.container {
    max-width: 40rem;
    padding: 0 1rem;
    margin: 4rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.header {
  display: flex;
  flex-direction:column;
  align-items: center;
  line-height: 1.2;
}

.title{
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  background-image: linear-gradient(to right, #fdfce6, #efefdc, #e2e2d2, #d5d5c9, #c8c8bf, #bab8b0, #aba8a3, #9b9895, #858281, #6f6c6d, #595858, #444444);
}
    
.backToHome {
  margin: 1rem 0rem;
}

.backToHome a {
  text-decoration: none;
  line-height: 1;
  position: relative;
  z-index: 0;
  display: inline-block;
  padding: 2px 1px;
  overflow: hidden;
  color: rgb(221, 91, 74);
  vertical-align: bottom;
  transition: color .3s ease-out;
}

.backToHome a::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  transform: translateY(calc(100% - 2px));
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #b4f2e2, #b0fad3, #baffbb, #d2ff9f, #f4ff81);   
}

.backToHome a:hover { 
  color: rgb(235, 44, 44); 
}
.backToHome a:hover::before {
  transform: translateY(0);
  transition: transform .25s ease-out;
}